<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taloid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <script src="/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/jarallax.min.js"></script>
<script src="js/axios.js"></script>
<link rel="stylesheet" href="/css/jarallax.css"></script>
<script src="/js/scroll.js"></script>
<script src="/js/type.js"></script>
</head>
<div id="camera" hidden>
    <a href="#" class="arrow up"></a>
    <h2>Please allow your camera to see demo!!!</h2>
    <button id="arrowbtn" class="btn btn-dark">OK</button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Eagle Eye</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#service">Service</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#demo">Demo</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
 
      </ul>

    </div>
  </nav>



<div id="home" class="jarallax section" data-section-name="home">
  <div class="des">
    <h1 id="home-txt"></h1>
  </div>
        <video class="jarallax-img" preload="auto" poster="/vid/home.png" autoplay loop muted>
            <source src="/vid/home.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
</div>

<div id="service" class="section" data-section-name="service">

  <div id="sersec1" class="jarallax vidsec" style="display: none">
    <h1 id="vid1">...</h1>
    <div class="fullbg"></div>
    <video id="video1" class="jarallax-img" preload="auto" poster="/vid/service1.png" autoplay muted>
      <source src="/vid/service1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div id="sersec2" class="jarallax vidsec" style="display: none">
    <h1 id="vid2">...</h1>
    <div class="fullbg"></div>
    <video id="video2" class="jarallax-img" preload="auto" poster="/vid/service2.png" autoplay muted>
      <source src="/vid/service2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div id="sersec3" class="jarallax vidsec" style="display: none">
    <h1 id="vid3">...</h1>
    <div class="fullbg"></div>
    <video id="video3" class="jarallax-img" preload="auto" poster="/vid/service3.png" autoplay muted>
      <source src="/vid/service3.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div id="sersec4" class="jarallax vidsec" style="display: none">
      <h1 id="vid4">...</h1>
      <div class="fullbg"></div>
      <video id="video4" class="jarallax-img" preload="auto" poster="/vid/service4.png" autoplay muted>
        <source src="/vid/service4.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="sersec5" class="jarallax vidsec" style="display: none">
        <h1 id="vid5">...</h1>
        <div class="fullbg"></div>
        <video id="video5" class="jarallax-img" preload="auto" poster="/vid/service5.png" autoplay muted>
          <source src="/vid/service5.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div id="sersec6" class="jarallax vidsec" style="display: none">
          <h1 id="vid6">...</h1>
          <div class="fullbg"></div>
          <video id="video6" class="jarallax-img" preload="auto" poster="/vid/service6.png" autoplay muted>
            <source src="/vid/service6.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div id="sersec7" class="jarallax vidsec" style="display: none">
            <h1 id="vid7">...</h1>
            <div class="fullbg"></div>
            <video id="video7" class="jarallax-img" preload="auto" poster="/vid/service7.png" autoplay muted>
              <source src="/vid/service7.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
         
</div>

<div id="demo" class="section jarallax" data-section-name="demo">
  <div class="info">
    <h2 class="demo-title">Think you are a shop manager. The following data is comming from the shop camera.</h2>
  <div class="right">
    <h3>Advise for the Customer</h3>
    <div class="des"></div>
  </div>
   <div class="left">
      <h3>Advise for the Shop Manager</h3>
     <div class="des2"></div>
    </div>
  </div>
    <div class="fullbg"></div>
    <video class="jarallax-img" onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
    <canvas id="flsvid" width="2560" height="1440" style="display: none;"></canvas>
    <canvas id="overlay"></canvas>
  
  </div>
  <audio id="cst">
    <source id="cstsrc" src="" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>


<script>
$(function(){
    jarallax(document.querySelectorAll('.jarallax'));
    $.scrollify({
            section : ".section",
            scrollSpeed:1000
          });

          var homeString = document.getElementById('home-txt');
        
          
          let tow;
          function typeit(selector, txt, pause=15000){
             tow = new Typewriter(selector, {
                     loop:true
                    });
              tow
              .typeString(txt)
              .pauseFor(pause)
              .start()
          }

          typeit(homeString, "Ovserve Everything Just Like an Eagle Useing Our AI Services", 1000)
          let txt=["","An AI speaker can say to leave off parking in a forbidden zone.",
                  "Automatic system can expel the unexpected animals",
                  "Assigned a certain task? How many hours is it running for?",
                  "It is not the time to fiddling with the phone.",
                  "Determine the hours is being wasted for gossiping",
                  "Get a list of \"Known\" and \"Unknown\" person",
                  "Is it really time for taking a break?"]
         
    function startit(){
const services = [1, 2, 3,4,5,6,7]
    var service = services[Math.floor(Math.random() * services.length)];
    var vidId = document.getElementById("video"+service)
    $("#sersec"+service).show()
    typeit(document.getElementById("vid"+service),txt[service])
    vidId.load();
    vidId.play();
    vidId.onended = ()=>{
      $("#sersec"+service).hide()
      startit()
    }

    }

    startit()
    


$("#arrowbtn").click(function(){
  $("#camera").hide()
})







function run() {
    var successCallback = function(stream) {
  // user allowed access to camera
  const videoEl = $('#inputVideo').get(0)
    videoEl.srcObject = stream
};
var errorCallback = function(error) {
  if (error.name == 'NotAllowedError') {
   $("#camera").removeAttr("hidden")
  }
};

  navigator.mediaDevices.getUserMedia({video:true}).then(successCallback, errorCallback)

    

  }

run()
ri = 0
function callcst(gen){
  if(gen=="male"){
    document.getElementById("cstsrc").src = "/aud/man.mp3";
                  cst.load()
                  cst.play()
                  setTimeout(() => {
                    ri=0
                  }, 60000);
  }else{
    document.getElementById("cstsrc").src = "/aud/woman.mp3";
                  cst.load()
                  cst.play()
                  setTimeout(() => {
                    ri=0
                  }, 60000);
  }
  
}
setInterval(() => {
      const canv = document.getElementById("flsvid")
      const ctx = canv.getContext("2d")

      ctx.drawImage($('#inputVideo').get(0), 0, 0, canv.width, canv.height);
      let frmData = new FormData();

       img = canv.toDataURL("image/jpeg")
      frmData.append("img", img)
      axios.post('/r', {
        img: canv.toDataURL("image/jpeg")
      })
      .then(function (response) {
        $("#demo .des").html("")
        $("#demo .des2").html("")
          response.data.status.result.forEach(v=>{
              var path = window.location.href;
              if(path.split("#").pop()=="demo"){
                if(v.gender=="male"){
                ri==0?callcst("male"):null
                 ri = 1;
                }else{
                  ri==0?callcst("female"):null
                 ri = 1;
                }
              }
              if(v.gender=="female"){
                $("#demo .des").prepend(
            `
            <h5 style="color:yellow;">
            Please go to the second floor to reach the women corner.</h5>
            `
          )
              }
            
              if(v.gender=="male"){
                $("#demo .des").prepend(
            `
            <h5 style="color:blue;">
            Please go to the third floor to reach the men corner.</h5>
            `
          )
              }

              let agee = Math.floor(v.age)
              $("#demo .des2").prepend(
                
                `<h4 style="color:black;">Age of the Customer is aprox. ${agee-5} to ${agee+5}</h4>`
              )
              if(v.sad*100>1){
                $("#demo .des2").prepend(
                  `
                  <h5 style="color:red;">
                  The customer is being sad. Please say something to be happy.
                  </h5>
                  `
                )
              }

              if(v.angry*100>1){
                $("#demo .des2").prepend(
                  `
                  <h5 style="color:red;">
                  The customer is being angry. Please say something to be happy.
                  </h5>
                  `
                )
              }

              if(v.happy*100>50){
                $("#demo .des2").prepend(
                  `
                  <h5 style="color:green;">
                  The customer is being happy. Please keep it.
                  </h5>
                  `
                )
              }else{
                $("#demo .des2").prepend(
                  `
                  <h5 style="color:chocolate;">
                  Please try to make the customer happy.
                  </h5>
                  `)
              }
          
          })
        })
      .catch(function (error) {
          console.log(error);
      });
        
        }, 1000)

      })
</script>

<script src="/js/pages.js"></script>

<style>
  #camera{
    display: inline-block;
    width: 200px;
    height: auto;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index: 9999999999;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color:#fff;
  }
.navbar{
  position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}
#home{
  text-align: center;
}
#home .des{
  display: inline-block;
    position: relative;
    top: 50vh;
    width: auto;
    text-align: center;
    padding: 25px;
    max-width: 40%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}
.fullbg{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  z-index: 999999;
}
.vidsec h1{
  position: absolute;
    display: inline-block;
    z-index: 9999999;
    top: 50%;
    color: #000;
    background-color: rgba(255,255,255,.6);
    padding: 25px;
    text-align: center;
}

#demo .des h5{
  position: relative;
    display: inline-block;
    color: #000;
    background-color: rgba(255,255,255,.6);
    padding: 25px;
    text-align: center;
}
#demo .right{
  display: inline-block;
  width: 40%;
  float: right;
}
#demo .left{
  display: inline-block;
  width: 40%;
  float: left;
}

.info{
  display: inline-block;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgba(255,255,255,.7);
    padding: 15px;
    text-align: center;
    top: 60px;
}
@media only screen and (max-width: 960px) {
  .vidsec h1{
    top: 80%;
  }
  #home .des{
    top:25vh;
  }

}









@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-3em); opacity: 1 }
}


.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #fff;
  margin-top: 50px;
  margin-left: 100px;
    display: inline-block;
}

.demo-title{
  text-align: center;
    color: green;
    font-size: 20px;
    background-color: #000
}
.right h3, .left h3{
  font-size: 15px;
}
</style>

<body>
    
</body>
</html>